/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}

.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

#arrow_favorites {
  padding-right: 10%;
  padding-left: 10%;
}

/* to show circular progressbar */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 10px;
  height: 10px;
  margin: 0 10px 0 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  margin: 10px 0 0 11px;
  border-radius: 25px;
  background-color: #7356f8;
}

.chip img {
  float: left;
  margin: 1.5px 9px 0 -11px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f1f1f1;
}

.btn{
  padding: 5px 5px;
  margin: 10px 0 0 0;
  cursor: pointer;
  float: right;
  background: #7577e9;
  color: white;
  border: none;
  width: 80px;
  text-align: center;
  border-radius: 5px;
}

.btn:hover{
  transform: scale(0.95);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
